body{
    margin:  auto;
    background-color: coral;
}
.odin{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 100px;
}
.list{
    background-color: peachpuff;
}
.chicken,
.tomato,
.lasagna{
    padding:10px;
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: peachpuff;
}

.image-container{
    display: flex;
    text-align: center;
    justify-content: center;
}

.div-container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap:50px;
}


.ready{
    display: inline;
    font-size: 17px;
    padding:10px;
    height:40px;
    background-color: aqua;
}

.text-align{
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
a{
    font-size: 30px;
}
.block{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
img{
    width:300px;
    height: 230px;
}